body {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 18px;
    line-height: 34px;
    color: #777777;
    background: url("../images/concrete_seamless.png");
    padding-top: 1%;
  }
  
  * {
    box-sizing: border-box;
  }
  
  /* general */
  
  a{
    color:white;
  }
  
  .nav {
    
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    margin-left: 49%;
  }

  nav a {
  
    color: #999;
    text-decoration: none;
    border-left: 1px solid #efefef;
  }
  

  h1,
  h2,
  h3,
  p {
    margin-bottom: 20px;
  }
  
  p{
    margin-top: 66px;
    margin-left: -31px;
  }

  .paragraph{
    margin-left: 24%;
    margin-top: -315px;
  }
  
  h1,
  h2,
  h3 {
    font-family: Georgia, Times, "Times New Roman", serif;
    font-weight: 700;
    color: lightpink;
  }
  
  h1 {
    padding: 20px;
    padding-top: 23px;
    font-size: 30px;
    line-height: 49px;
    margin-left: 3%;
    border-bottom: 3px solid #dddddd;
    margin-right: 5%;
}
  
  h2,
  h3 {
    font-size: 22px;
  }
  .row {
    
    display: flex;
    
    flex-wrap: wrap;
    margin-right: -587px;
    margin-left: -1px;
    max-width: 960px;
  }
.container {
    width: 100%;
    /* padding-right: 15px; */
    /* padding-left: 15px; */
    /* margin-right: -5px; */
    margin-left: auto;
  }

  .card {
    position: relative;
    
    display: flex;
    
    flex-direction: column;
    min-width: 0;
   max-width: 960px;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
    margin-top: 13.5%;
}
  
  /* header */
  
  #top {
    position: fixed;
    z-index: 98;
    width: 100%;
    margin: 0 7px 30px;
    overflow: auto;
    color: #ffffff;
    background: #ffffff;
    border-bottom: 2px solid #cccccc;
  }
  
  #name {
    float: left;
    width: 250px;
    height: 90px;
    font-family: Georgia, Times, "Times New Roman", serif;
    font-size: 30px;
    font-weight: 700;
    line-height: 90px;
    color: #ffffff;
    text-align: center;
    text-decoration: none;
    background: lightpink;
    border: none;
    margin-left: 8%;
}

  
  /* footer */
  
  footer {
    padding: 30px 0;
    clear: both;
    font-size: 12px;
    color: #ffffff;
    color: #cccccc;
    text-align: center;
    background: #666666;
    border-top: 8px solid lightpink;
    height: 100%;
    margin-top: 6%;
  }
  
  a{
    
    font-size: 18px;
  }
  
  
  /* main */
  
  #about {
    padding: 56px;
    min-height: calc(55vh - 70px);
    max-width: 960px;
  }

  .img-thumbnail{
    margin-left: 27px;
  }
  
  
  /* portfolio page */
  
  .main-section {
    float: left;
    width: 100%;
   padding-left: 0px;
    padding: 30px;
    margin: 0 0 40px;
    position: relative;
    
    display: flex;
    
    flex-direction: column;
    min-width: 0;
   max-width: 960px;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
    margin-top: 11.7%;
  
  }
  .work {
    position: relative;
    float: left;
    width: 274px;
    margin: 20px 284px 25px;
    overflow: auto;
  }
  
  .work:nth-child(even) {
    margin-right: 40px;
  }
  
  .work img {
    width: 100%;
    border: 0 none;
    opacity: 0.8;
  }
  
  .work h3 {
    position: absolute;
    bottom: 20px;
    width: 100%;
    padding: 15px;
    margin-bottom: 0;
    font-weight: 300;
    line-height: 30px;
    color: #ffffff;
    text-align: center;
    background:#4aaaa5;
    border-bottom: 0;
  }
 
  /* contact page */
  #xon{
    margin-top: -5.4%;
  }
  #contact-form{

margin: 16px;
    
  }
  #contact-form ul {
    margin-bottom: 20px;
    padding: 56px;
    margin-top: -68px;
  }
  
  #contact-form li {
    margin-bottom: 10px;
  }
  
  label,
  input[type=text],
  input[type=email],
  textarea {
    display: block;
    width: 100%;
  }
  
  input[type=text],
  input[type=email],
  textarea {
    height: 35px;
    padding: 0 10px;
    font-size: 14px;
    border: 1px solid #dddddd;
  }
  
  textarea {
    height: 200px;
  }
  
  input[type=submit] {
    padding: 10px 30px;
    font-size: 18px;
    color: #ffffff;
    cursor: pointer;
    background: lightpink;
    border: 0 none;
  }

  #contact{
    margin-top: 14%;
  }

  /* ALL media queries */
 
  /* I found it a little easier to work from the smaller screen size up*/


  /* Media Queries 640px */
@media screen and (max-width: 640px) {
  body {
    background-color: #332f2f;
  }

  .row {
      margin: 0%;
  }
      
  .card {
    width: 100%;
    padding: 20px;
  }
    
  
  .container {
    width: 100%;
    margin-top: 150px;
  }
  
  h1 {
    width: 100%;
  }
  
  .auth-image {
    width: 100%;
  }
    
  .nav {
    float: none;
    text-align: center;
    padding-right: 26px;
    margin-left: 18%;
  }
  
  #name {
    float: none;
    width: auto;
    display: block;
    margin: 0;
  }

  .work {
    width: 100%;
    margin-left: 0%;
  }

  #top {
    position: absolute;
    margin-left: 0;
  }
.aboutLink{
      border-left: none;
}

#xon{
  margin-top: 38.6%;
}

p {
    margin-top: 6px;
    margin-left: -37px;
}

.paragraph {
    margin-left: -4%;
    margin-top: -42px;
}

#suit{
      margin-left: 21%;
}

}





/* Media Queries 768px */
@media screen and (min-width: 641px) and (max-width: 768px) {
  body {
    background-color: #332f2f;
  }

  #name {
    margin-left: 15px;
  }

  nav {
    padding-right: 15px;
  }

  .container {
    width: 95%;
    margin-left: 15px;
    margin-right: 15px;
  }

  .auth-image {
    width: 60%;
  }

  .work {
    width: 33%;
    margin-left: 31%;
  }

  .row {
    margin: 3% -28% 0% 1%;
    width: 100%;
  }

  .nav{
    margin-left: 16%;
  }

  p{
    margin-top: 0px;
  }
  #suit{
    margin-left: 27%;
  }

  .paragraph{
    margin-left: -4%;
    margin-top: -42px;
  }

  .main-section {
        margin-top: 16.7%;
  }

  #xon {
    margin-top: 16.6%;
}

}

/* Media Queries 980px */
@media screen and (min-width: 769px) and (max-width: 980px) {
  body {
    background-color: #332f2f;
  }

  #name {
    margin-left: 40px;
  }

  .nav {
        margin-left: 13%;
  }

  .row{
    margin-top: 65%;
    width: 303%;
  }

  .container {
   width: 34%;
    margin-left: 22px;
    margin-top: -18%;
  }


  #contact{
        margin-left: 90px;
    margin-top: 21%;
  }

  .work {
    width: 52%;
        margin: 20px 105px 25px;
  }

  .work h3 {
    padding: 3px;
  }

  .card{
        width: 214%
  }

  .main-section {
    margin: 276px 141px 40px;
    width: 202%;
}

#suit{
  width: 180px;
}

.paragraph {
  margin: -40% -1% -10% 31%;
}

p {
  margin-top: 85px;
}

#xon {
  margin-top: -21.4%;
  width: 252%;
  
}

}
